#topNav {
   display: block;
   background: dimgray;
   box-shadow: 0px 1px 10px 10px lightgray;
   height: 100px;
   text-align: center;
   width: 100%;
 }
 #topnav > ul {
 	display: block;
 	height: 100%;
 }
 #topNav > ul > li {
   display: inline-block;
   height: 100%;
 }
 #topNav > ul > li > a
 {
   color: white;
   display: inline-block;
   line-height: auto;
   height: 100%;
   margin-right:10px;
   margin-left:10px;
   margin-top:25px;
   margin-bottom:40px;
	text-decoration:none;
   transition: color 0.3s ease-in;
   font-size: 30px;
 }

 #topNav > ul > li:hover {
   background-color: #00BF63;

 }

 #topNav > ul > li> a:hover {
   color: black;
}

 #topNav > ul > li:active {
   background-color: #5E17EB;
margin-right:10px;
   margin-left:10px;
   margin-top:25px;
   margin-bottom:40px;
 }



.current {
	background-color: #5E17EB;
	color: black;
margin-right:10px;
   margin-left:10px;
   margin-top:25px;
   margin-bottom:40px;
	height: 100%;
}		
	

body {
  background-color: white;
}
h1   {
  color: #5E17EB;
	font-size: 45px;
}
p    {
  color: black;
	font-size: 30px;
}
h2	 {
  color: #00BF63;
	font-size: 40px;
}

.flex-container {
    display: flex;

}

.flex-child {
    flex: 1;
    
}  
div.i{
  text-indent: 50px;
	font-size: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column {
  float: center;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
iframe {
	margin-left: 25px;
	margin-right: 25px;
}

